/* Basic reset for better cross-browser consistency */
body, h1, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    text-shadow: 1px 1px 2px black;
}

h1 {
    margin-bottom: 20px;
}

.button-container {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-shadow: none; /* Keep button text clear */
}

.button:hover {
    background-color: #0056b3;
}
